In [1]:
import numpy as np
import pandas as pd

In [2]:
def hand_maker(in_str):
    replace_dict = {'A': 14, 'K': 13, 'Q':12 , 'J':11, 'T':10}

    out_hand = []
    for s in in_str:
        if s in replace_dict.keys():
            out_hand.append(replace_dict[s])
        else:
            out_hand.append(int(s))
    
    #out_hand.sort()
    return out_hand

def rank_hand(hand):
    # high_card = 0
    # 1p = 1
    # 2p = 2
    # 3 of kind = 3
    # full house = 4
    # 4 = 5
    # 5 = 6
    
    n_instances = []
    for card in np.unique(hand):
        n_instances.append(np.size(np.where(hand == card)[0]))
    max_repeat = np.max(n_instances)
    
    if max_repeat == 5:
        return 6
    elif max_repeat == 4:
        return 5
    elif max_repeat == 3:
        if 2 in n_instances:
            return 4
        else:
            return 3
    elif max_repeat == 2:
        if np.size(np.unique(hand)) == 3:
            return 2
        else:
            return 1
    else:
        return 0

In [3]:
[10,2,3].sort()

In [4]:
hand = [10, 10, 10, 12, 8]
rank_hand(hand)

3

In [5]:
# Example data:
#handb = [['32T3K', 765],['T55J5' ,684],['KK677' ,28],['KTJJT' ,220],['QQQJA' ,483]]
#hands = []
#bids = []
#for item in handb:
#    hands.append(hand_maker(item[0]))
#    bids.append(item[1])
   
data = pd.read_csv('input', header=None, delimiter=' ')

bids = data[1]

In [6]:
hands = [hand_maker(h) for h in data[0]]

In [7]:
ranks = [rank_hand(h) for h in hands]

In [8]:
h_array = np.array(hands)

In [9]:
df = pd.DataFrame(h_array)

In [10]:
df['scores'] = ranks
df['bids'] = bids

In [11]:
df = df.sort_values(['scores', 0, 1, 2, 3 ,4])
df

      0   1   2   3   4  scores  bids
176   2   3   4  11   5       0   216
378   2   3   7   6  11       0   742
168   2   3   9  11  12       0   534
551   2   3  13  14  12       0   361
911   2   5   6  12   3       0   403
..   ..  ..  ..  ..  ..     ...   ...
114  14   8   8   8   8       5   458
123  14   9   9   9   9       5   193
29   14  11  14  14  14       5   945
433  14  14  14   4  14       5   606
704  11  11  11  11  11       6   996

[1000 rows x 7 columns]

In [12]:
np.sum(df['bids'].values * np.arange(1,len(df)+1))

250254244