In [1]:
import numpy as np
import pandas as pd

In [2]:
def hand_maker(in_str):
    replace_dict = {'A': 14, 'K': 13, 'Q':12 , 'J':1, 'T':10}

    out_hand = []
    for s in in_str:
        if s in replace_dict.keys():
            out_hand.append(replace_dict[s])
        else:
            out_hand.append(int(s))
    
    #out_hand.sort()
    return out_hand

def rank_hand(hand):
    # high_card = 0
    # 1p = 1
    # 2p = 2
    # 3 of kind = 3
    # full house = 4
    # 4 = 5
    # 5 = 6

    if 1 in hand:
        rest_of_hand = [ca for ca in hand if ca !=1]
        n_instances = []
        for card in np.unique(hand):
            n_instances.append(np.size(np.where(hand == card)[0]))
        max_repeat = np.max(n_instances)
        best_replace = np.max(np.unique(hand)[np.where(n_instances == max_repeat)[0]])
        n_js = 5-len(rest_of_hand)
        if best_replace == 1:
            best_replace = max(hand)
        new_hand = rest_of_hand + [best_replace]*n_js
        if max(new_hand) == 1:
            new_hand = [14]*5
        return rank_hand(new_hand)
        

    
    n_instances = []
    for card in np.unique(hand):
        n_instances.append(np.size(np.where(hand == card)[0]))
    max_repeat = np.max(n_instances)
    
    if max_repeat == 5:
        return 6
    elif max_repeat == 4:
        return 5
    elif max_repeat == 3:
        if 2 in n_instances:
            return 4
        else:
            return 3
    elif max_repeat == 2:
        if np.size(np.unique(hand)) == 3:
            return 2
        else:
            return 1
    else:
        return 0

In [3]:
[10,2,3].sort()

In [4]:
hand = [10, 10, 10, 12, 1]
rank_hand(hand)

5

In [5]:
# Example data:
#handb = [['32T3K', 765],['T55J5' ,684],['KK677' ,28],['KTJJT' ,220],['QQQJA' ,483]]
#hands = []
#bids = []
#for item in handb:
#    hands.append(hand_maker(item[0]))
#    bids.append(item[1])
   
data = pd.read_csv('input', header=None, delimiter=' ')
bids = data[1]
hands = [hand_maker(h) for h in data[0]]

In [6]:
ranks = [rank_hand(h) for h in hands]

In [7]:
h_array = np.array(hands)

In [8]:
df = pd.DataFrame(h_array)

In [9]:
df['scores'] = ranks
df['bids'] = bids

In [10]:
df = df.sort_values(['scores', 0, 1, 2, 3 ,4])
df

      0   1   2   3   4  scores  bids
551   2   3  13  14  12       0   361
911   2   5   6  12   3       0   403
799   2   5  10   3   9       0   407
891   2   6   8  10  13       0   628
496   2   7   9   8  12       0  1000
..   ..  ..  ..  ..  ..     ...   ...
100  12  12  12   1   1       6   503
992  13   1  13  13   1       6    78
216  13  13  13  13   1       6   465
29   14   1  14  14  14       6   945
738  14  14  14   1   1       6    24

[1000 rows x 7 columns]

In [11]:
np.sum(df['bids'].values * np.arange(1,len(df)+1))

250087440

In [12]:
# 250087230 is too low.

In [13]:
hand = [13, 10, 1,1,10]
rank_hand(hand)

5