In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('input', header=None)
#data = pd.read_csv('test.txt', header=None)

In [3]:
data

                                                     0
0    Card   1: 71 88 83  5 15 54 89 55 69 79 | 83 3...
1    Card   2: 33 11 66 48 67 95 78 71 98 65 | 66  ...
2    Card   3: 28 58 71 40 25 13  7 19 61 72 | 47 8...
3    Card   4: 58 26 74 94 42 29  9 90 76 54 | 74 9...
4    Card   5: 70 65 54 14 32 29 39 98  9 51 | 61 1...
..                                                 ...
208  Card 209: 89 92 77 37 50 32 73 86 17  1 | 63 3...
209  Card 210: 95 51 91 92 29 43 24 76  8 71 | 76 9...
210  Card 211: 15 96 18 17 95 64 83 51 49 80 | 16 5...
211  Card 212: 89 63  7 28 91 90 97 44  4 42 | 74 6...
212  Card 213:  7 36 25 23 22 93 18 88 50 30 | 57 5...

[213 rows x 1 columns]

In [4]:
winning_n = []
my_n = []

for line in data[0]:
    ack = line.split(':')[1]
    ack = ack.split('|')
    winning_n.append(np.array(ack[0].strip().replace('  ', ' ').split(' ')).astype(int))
    my_n.append(np.array(ack[1].strip().replace('  ', ' ').split(' ')).astype(int))

In [5]:
2.**(np.intersect1d(winning_n[0], my_n[0]).size-1)

512.0

In [6]:
scores = []
for win, my in zip(winning_n, my_n):
    scores.append(np.floor(2.**(np.intersect1d(win, my).size-1)))

In [7]:
np.sum(scores)

21088.0

In [8]:
n_cards = np.ones(len(data))

In [9]:
n_cards

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [10]:
matches = []
for win, my in zip(winning_n, my_n):
    matches.append(np.intersect1d(win, my).size)

In [11]:
matches

[10,
 7,
 4,
 8,
 7,
 10,
 7,
 10,
 3,
 1,
 0,
 0,
 9,
 10,
 1,
 7,
 0,
 1,
 4,
 4,
 3,
 1,
 1,
 0,
 10,
 10,
 10,
 10,
 3,
 10,
 10,
 0,
 5,
 0,
 7,
 7,
 3,
 2,
 5,
 1,
 0,
 1,
 2,
 0,
 0,
 6,
 10,
 10,
 4,
 7,
 1,
 0,
 4,
 1,
 0,
 6,
 2,
 4,
 5,
 3,
 5,
 2,
 1,
 0,
 1,
 0,
 8,
 10,
 9,
 10,
 10,
 10,
 3,
 10,
 4,
 6,
 10,
 4,
 0,
 7,
 0,
 3,
 1,
 0,
 2,
 3,
 1,
 1,
 0,
 7,
 10,
 6,
 9,
 5,
 10,
 4,
 4,
 9,
 6,
 3,
 3,
 2,
 0,
 1,
 1,
 2,
 0,
 2,
 0,
 0,
 0,
 6,
 8,
 4,
 3,
 10,
 0,
 7,
 8,
 3,
 5,
 7,
 2,
 6,
 0,
 0,
 3,
 0,
 1,
 0,
 10,
 7,
 6,
 5,
 4,
 1,
 1,
 7,
 5,
 3,
 4,
 3,
 4,
 6,
 2,
 2,
 5,
 0,
 2,
 0,
 2,
 1,
 0,
 0,
 10,
 3,
 9,
 8,
 4,
 3,
 4,
 5,
 7,
 6,
 3,
 1,
 1,
 3,
 2,
 0,
 0,
 10,
 10,
 10,
 3,
 10,
 10,
 9,
 10,
 10,
 10,
 5,
 7,
 9,
 5,
 7,
 0,
 7,
 6,
 4,
 1,
 4,
 0,
 2,
 1,
 0,
 0,
 10,
 3,
 9,
 4,
 3,
 4,
 7,
 2,
 0,
 4,
 2,
 1,
 2,
 2,
 1,
 0]

In [12]:
for i, match in enumerate(matches):
    if match > 0:
        top = np.min([i+1+match, len(matches)-1])
        n_cards[i+1:i+1+match] += 1*n_cards[i]

In [13]:
n_cards.sum()

6874754.0