In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('input', delimiter=':', header=None)

In [5]:
data

           0                                                  1
0     Game 1   2 red, 2 green; 6 red, 3 green; 2 red, 1 gree...
1     Game 2   2 green; 15 red, 5 blue; 2 green, 4 blue, 5 r...
2     Game 3   10 blue, 8 red, 5 green; 5 green, 3 red; 12 r...
3     Game 4   2 green, 3 blue, 1 red; 17 green, 1 blue, 1 r...
4     Game 5   4 green, 13 red, 3 blue; 14 blue, 5 green, 5 ...
..       ...                                                ...
95   Game 96   3 red, 3 green; 16 green, 2 blue; 7 blue, 3 r...
96   Game 97   4 red, 6 blue; 2 red; 13 red, 6 blue, 3 green...
97   Game 98   1 red, 6 green, 7 blue; 14 red, 3 green, 2 bl...
98   Game 99   3 blue, 8 green, 1 red; 4 green, 1 blue, 2 re...
99  Game 100   8 red, 2 blue, 1 green; 2 blue, 4 red, 2 gree...

[100 rows x 2 columns]

In [10]:
def max_color_parser(in_string, red_allow=12, blue_allow=14, green_allow=13):
    tries = in_string.split(';')
    max_red = 0
    max_blue = 0
    max_green = 0
    
    for attempt in tries:
        colors = attempt.split(',')
        for color in colors:
            if 'red' in color:
                result = color.replace('red', '').replace(' ', '')
                max_red = np.max([max_red, int(result)])
            if 'green' in color:
                result = color.replace('green', '').replace(' ', '')
                max_green = np.max([max_green, int(result)])
            if 'blue' in color:
                result = color.replace('blue', '').replace(' ', '')
                max_blue = np.max([max_blue, int(result)])
                
    valid = True
    if max_red > red_allow:
        valid = False
    if max_blue > blue_allow:
        valid = False
    if max_green > green_allow:
        valid = False
    
    return valid

In [11]:
max_color_parser(data.iloc[1][1])

False

In [14]:
results = [max_color_parser(game) for game in data[1]]

In [16]:
game_id = np.arange(len(results)) + 1

In [19]:
game_id[results].sum()

2169

In [16]:
def min_color_parser(in_string):
    tries = in_string.split(';')
    needed_red = 0
    needed_blue = 0
    needed_green = 0
    for attempt in tries:
        
        colors = attempt.split(',')
        for color in colors:
            if 'red' in color:
                result = color.replace('red', '').replace(' ', '')
                needed_red = np.max([needed_red, int(result)])
            if 'green' in color:
                result = color.replace('green', '').replace(' ', '')
                needed_green = np.max([needed_green, int(result)])
            if 'blue' in color:
                result = color.replace('blue', '').replace(' ', '')
                needed_blue = np.max([needed_blue, int(result)])
                
    power = needed_red * needed_blue * needed_green
    return power

In [17]:
min_color_parser(data.iloc[10][1])

2660

In [18]:
powers = [min_color_parser(game) for game in data[1]]

In [19]:
np.sum(powers)

60948