In [1]:
import pandas as pd
import numpy as np

import re

In [2]:
data = pd.read_csv('input', header=None)

In [3]:
data

                                      0
0    threerznlrhtkjp23mtflmbrzq395three
1                           9sevenvlttm
2                             3twochzbv
3          mdxdlh5six5nqfld9bqzxdqxfour
4                                422268
..                                  ...
995      hthphptmmtwo7sixsevenoneightls
996             qxbhjmmqsixfkfn36three6
997  eightmkmdtvkctkvptsbckzpnkhpskdmp3
998    six2twobgzsfsptlqnine42xtmdprjqc
999                         pxreightwo7

[1000 rows x 1 columns]

In [4]:
data[0].values[0]


#re.findall(r'\d+', test_string)

'threerznlrhtkjp23mtflmbrzq395three'

In [5]:
re.findall(r'\d+', data[0].values[0])

['23', '395']

In [6]:
def str2twod(in_str):
    all_dig = re.findall(r'\d+', in_str)
    result = all_dig[0][0] + all_dig[-1][-1]
    return int(result)

In [7]:
np.sum([str2twod(item) for item in data[0].values])

55971

In [8]:
def str2twod(in_str):
    
    words = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
    digits = ['1', '2', '3', '4', '5', '6', '7', '8', '9']
    w2d = {}
    for w,d in zip(words, digits):
        w2d[w] = d

    
    first_dig = 0
    first_loc = 1e6
    for dig in digits:
        loc = in_str.find(dig)
        if loc > -1:
            if loc < first_loc:
                first_loc = loc
                first_dig = dig
    for dig in words:
        loc = in_str.find(dig)
        if loc > -1:
            if loc < first_loc:
                first_loc = loc
                first_dig = w2d[dig]
        
    last_dig = '0'
    last_loc = 1e6
    
    rev_str = in_str[::-1]
    for dig in digits:
        loc = rev_str.find(dig)
        if loc > -1:
            if loc < last_loc:
                last_loc = loc
                last_dig = dig
                
    for dig in words:
        loc = rev_str.find(dig[::-1])
        if loc > -1:
            if loc < last_loc:
                last_loc = loc
                last_dig = w2d[dig]
    
   
    return int(first_dig + last_dig)

In [9]:
str2twod(data[0].values[0])

33

In [13]:
np.sum([str2twod(val) for val in data[0].values])

54719

In [11]:
data[0].values[0].find('three')

0